[submodule "binding/external/vowpal_wabbit"]
	path = binding/external/vowpal_wabbit
	url = https://github.com/VowpalWabbit/vowpal_wabbit.git
[submodule "binding/external/vcpkg"]
	path = binding/external/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
